 <section class="dashboard-show">

  <header class="page-header">
    <h1>Admin &raquo; Store Stats</h1>
  </header>
  
  <h4>
    <ul>
      <li>Number of <%= link_to 'products', :admin_products %>: <%= @productCount %></li>
      <li>Number of <%= link_to 'categories', :admin_categories %>: <%= @categoryCount %></li>
    </ul>
  </h4>

</section>
