 <section class="dashboard-show">
  
  <h1>Store Stats</h1>
  <div class="well">
    <ul>
    <li>Number of <%= link_to 'products', :admin_products %>: <%= @productCount %></li>
    <li>Number of categories: <%= @categoryCount %></li>
    </ul>
  </div>

</section>
