<section class="about-show">

  <h1>About Us</h1>
  <p>
  Lorem ipsum dolor sit amet, vel option salutatus et, nulla latine referrentur an duo. Eu mei quaeque inciderint, equidem expetenda pro te, ad habeo denique vis. Pro ea soleat putant audire, id duo agam habeo. Cum elit timeam verterem ea, te vim lobortis ocurreret, no fierent convenire per. Dolorem habemus nec ea, patrioque philosophia an nec.
  </p>
  <p>
  Id nam semper nostrum, ea animal delicata vulputate eum, ne sed civibus tacimates patrioque. Lobortis sapientem adipiscing est an, hendrerit voluptatibus mei an, ad nulla fabellas temporibus ius. Fastidii necessitatibus cu duo, cu vis nisl pericula. Quem veritus contentiones eu his. Pericula appellantur definitionem no per. Ne sea nullam fabulas, has et dico appellantur.
  </p>
  <p>
  Illud ipsum possim ut eum. Ei eum lorem voluptua cotidieque, pri ut porro animal ullamcorper, eos volutpat dissentias cu. Vis quem alia tantas in. Ne cum perpetua erroribus definitionem, at augue graeci prodesset mea.</p>
  </p>

</section>